body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    background-image: url("../assets/img/bg-scratch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    height: 100%;
    overflow-y: scroll;
    background-attachment: fixed;
}

.navbar{
    background-color: rgb(54, 26, 0); 
    opacity: 90%;
    position: relative; 
    top: 140px; 
    width: 100%; 
    padding: 20px 0;
}
  
.navbar a{
    color: rgba(216, 216, 216, 0.89); 
    display: inline-block; 
    padding: 10px 20px; 
    text-decoration: none; 
    font-family: Arial, sans-serif; 
    font-weight: bold; 
    text-transform: uppercase; 
}

.common{
    text-align: center;
    color: black;
}

.nav{
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #e6a756;
}

header{
    background-color: whitesmoke; 
    opacity: 80%;
    color: rgb(54, 26, 0); 
    padding: 20px; 
}
  
h1{
    margin: 0; 
    font-size: 36px; 
    font-weight: bold; 
    text-align: center; 
}
  
.lower {
    margin: 0;
    background-color: whitesmoke; 
    opacity: 80%;
    color: rgb(54, 26, 0);
    font-weight: bold;
    padding: 20px; 
}
  
p{
    margin: 0;
    text-align: center; 
}

.bubble{
    background-color:#e6a756;
    opacity: 99%;

}

.content{
    margin: 0;
    padding: 20px;
    background-color: #ffac3e;;
    opacity: 95%;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-size: medium;
    color: black;
    position: relative;
    top: 280px;
    left: 11%;
    width: 25%;
    
    text-align: center;
    overflow-y: auto;
}

.title{
    margin: 0px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
    z-index: 1;
}

ol{
    margin: 0 auto;
    list-style: disc;
    padding: 20px;
}

li{
    color: rgb(53, 53, 53);
}

.dino{
    position: relative;
    top: -30px;
    left: 450px;
    z-index: -1;
    border-radius: 30px;
}

iframe{
    position: relative;
    left: 20%;
    border-radius: 10px;
}

.btp{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
    bottom: 10px;
}

.footer {
    margin-bottom: 5px;
  }
  
/*if update don't work...
1. Make sure you linked styless to page
2. Make sure you linked them correctly and below original styles
3. Make sure you spelled everything correctly, including caps
3b. Try !important (before smeicolon)
4. try refreshing page
5. Try refreshing without cache (ctrl+F5)
6. Try a different browser
7. Come to class and ask a TA
8. Be satisfied with less style